version: 2.1

orbs:
  ruby-orbs: sue445/ruby-orbs@volatile

executors:
  default:
    docker:
      - image: circleci/ruby:2.5.0
    working_directory: ~/app

jobs:
  build:
    parameters:
      image:
        type: string

    executor:
      name: default

    steps:
      - checkout

      # Setup Docker
      - setup_remote_docker
      - restore_cache:
          keys:
            - v1-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /caches/image.tar
      - run:
          name: Load Docker image layer cache
          command: |
            set +o pipefail
            docker load -i /caches/image.tar | true

      - ruby-orbs/bundle-install:
          with_gemfile_lock: false
          gemspec_name: "itamae-plugin-recipe-tmux"
          update_always: true

      - run: bundle exec itamae docker --node-yaml=recipes/node.yml recipes/install.rb --image=<< parameters.image >> --tag itamae-plugin:latest

      - save_cache:
          key: v1-{{ .Environment.CIRCLE_JOB }}-{{ epoch }}
          paths:
            - /caches/image.tar

      - run: DOCKER_IMAGE=itamae-plugin:latest bundle exec rspec

build_jobs: &build_jobs
  - build:
      name:  centos:7
      image: centos:7
  - build:
      name:  debian:jessie
      image: debian:jessie

workflows:
  version: 2

  build:
    jobs: *build_jobs

  weekly_build:
    triggers:
      - schedule:
          cron: "00 19 * * 5" # JST 4:00 (Sat)
          filters:
            branches:
              only: master
    jobs: *build_jobs
